*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    font-family: 'Poppins', sans-serif;
}
#form{
    width: 400px;
    margin: 20vh auto 0 auto;
    background-color: whitesmoke;
    border-radius: 8px;
    font-size: 16px;
    padding: 2rem;
}
#form  h1{
    color: #0f2027;
    text-align: center;
}
#form button{
    padding: 10px;
    margin-top:10px ;
    width: 100%;
    color: white;
    background-color: rgb(41, 57, 194);
    border: none;
    outline: 0;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
}
.input-control{
    display: flex;
    flex-direction: column;
    margin-bottom: 7px;
    width: 100%;
}
.input-control input{
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    width: 100%;
    padding: 10px;
    font-size: 12px;
    display: block;
}
.input-control input:focus{
    outline: 0;
}
.input-control.success input{
    border-color: #09c372;
}
.input-control.error input{
    border-color: #ff3860;
}
.input-control .error{
    color: #ff3860;
    font-size: 14px;
    height: 13px;
}
/* mobile view starts */
@media(max-width:789px){
    #form{
    width: 100%;
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    color: #f0f0f0;
    margin: 10vh auto 0 auto;
    }

    #form h1{
        color:#f0f0f0 ;
    }
}
/* mobile view ends */